@import "../../assets/styles/mixins.scss";

.todo-footer {
  color: var(--color-text-secondary);
  @apply flex justify-between p-lg text-l-light;
}

.filter-button {
  color: var(--color-text-secondary);
  font-style: normal;
  @apply rounded-s border-0 h-xl py-0 px-xs text-l-light;

  &.active {
    @include border-2-primary;
  }
}