@import "../../assets/styles/mixins.scss";

.todo-list-item {
  color: var(--color-text-primary);
  font-style: normal;

  @apply flex items-center h-[55px] gap-s px-m py-0 text-l;
  @include border-1-primary;

  .remove-todo-item {
    color: var(--color-text-secondary);
    font-style: normal;

    @apply rounded-s text-l-light hidden px-xs py-0 h-xl;
    @include border-2-primary;
  }

  &:hover {
    .remove-todo-item {
      @apply block;
    }
  }
}

.toggle-todo-state-button {
  @apply rounded-3xl w-xl h-xl;
  @include border-2-primary;
  &.COMPLETED {
    @apply border-0;
  }
}