@import "../../assets/styles/mixins.scss";

.todo-input-form {
  @apply w-full;
}

.todo-input-container {
  @apply relative flex items-center gap-2 px-m py-0;
  @include border-2-primary;
}

.todo-input {
  color: var(--color-text-primary);

  @apply text-xl w-full h-[55px] border-0 outline-0;
}

.todo-input::placeholder {
  color: var(--color-text-secondary);
  font-style: italic;
  @apply font-thin;
}