// Палитра цветов

// Винтажная тема
$mood-dark-blue: #244855;
$mood-light-blue: #90AEAD;
$mood-dark-red: #E64833;
$mood-brown: #874F41;
$mood-light: #FBE9D0;
$mood-purple: #b948b9;
$mood-gray: #b6b4b4;

// Теплая тема
$warm-light: #EAE7DC;
$warm-middle: #D8C3A5;
$warm-gray: #8E8D8A;
$warm-red-light: #E98074;
$warm-red: #E85A4F;
$warm-purple: #b6462d;

// Уведомления
$alert-success: #14A76C;
$alert-warn: #FFE400;
$alert-error: #FF652F;
$alert-disable: #747474;
$alert-dark: #272727;
