@import "fonts.scss";
@import "colors.scss";
@import "mixins.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  height: 100%;
}

html {
  font-size: 14px;
}

body {
  font-family: $font-family;
  line-height: 1.43;
  background-color: darkgray;
}

.todo-app-container {
  width: 100vw;
  height: 100vh;
  &.mood {
    background-color: $mood-light;
  }
  &.warm {
    background-color: $warm-light;
  }
}

.todo-app {
  max-width: 800px;
  @apply m-auto relative z-0;
}

.todo-content-container {
  position: relative;
  text-align: center;
  background-color: white;
  @apply shadow-todo-container;
  @include border-todo-container;

  &:before, &:after {
    content: '';
    height: 10px;

    position: absolute;
    bottom: -8px;
    z-index: -1;

    background-color: white;
    @apply shadow-todo-container;
    @include border-todo-container;
  }

  &:before {
    left: 10px;
    right:10px;
    z-index: -1;
  }

  &:after {
    bottom:-16px;
    left: 20px;
    right: 20px;
    z-index: -2;
  }
}
