@import "fonts.scss";
@import "mixins.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply h-full m-0;
}

html {
  font-size: 16px;
}

body {
  font-family: $font-family;
  line-height: 1.43;
}

.todo-app-container {
  @apply w-screen h-screen bg-primary-background;
}

.todo-app {
  max-width: 800px;
  @apply m-auto relative z-0;
}

.todo-content-container {
  background-color: white;
  @apply relative text-center shadow-todo-container;
  @include border-1-primary;

  &:before, &:after {
    content: '';
    height: 10px;

    bottom: -8px;

    @apply absolute bg-secondary-background shadow-todo-container;
    @include border-1-primary;
  }

  &:before {
    left: 10px;
    right:10px;
    z-index: -1;
  }

  &:after {
    bottom:-16px;
    left: 20px;
    right: 20px;
    z-index: -2;
  }
}
